#top-charts {
	visibility: hidden;

}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
   /* overflow: auto;  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    overflow-y:auto;

}

/* Modal Content/Box */
.add-account-modal-content {
    background-color: #002b49;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: auto;
    overflow:hidden;
    color:#fefefe;
}

/* The Close Button */
.close {
    color: #fefefe;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.account-group-container {
	padding:20px;
}

.account-class-container {
    float: left;
    width: 30%;
    height: 20%;
    margin: 1%;
    padding: 3%;
    background-color: #fdb71d;
    color: #002b49;
    text-align: center;
}

.account-type-image {
	width:100%;
	height: 100%;
}

.add-account-details {
    display: none; 
    float: left;
    width: 90%;
    height: 90%;
    margin: 1%;
    padding: 3%;
    background-color: #fdb71d;
    color: #002b49;

}

